<div *ngIf="this.movie">
<div *ngIf="this.ratings">
    <div class="body">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 round-border">
                    <table>
                        <tr>
                            <td class="header-poster"><img class="poster" id="movie-poster" src='{{this.movie.poster_path}}'></td>
                            <td class="header-meta">
                                <a class="title" href="{{this.movie.homepage}}">{{this.movie.title}}</a>
                                <span>({{this.date_convert(this.movie.release_date)}})</span>
                                <h6 class="tag-line">{{this.movie.tagline}}</h6>
                                <h5 class="meta-data">{{this.ratings.Rated}}&nbsp;&bull;&nbsp;
                                        {{this.time_convert(this.movie.runtime)}}&nbsp;&bull;&nbsp;
                                        {{this.ratings.Genre}}</h5>
                            </td>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="body">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 round-border">
                    <a routerLink="#" data-toggle="modal" data-target="#reviewModal">Add a Review</a>
                    <ul>
                    <li *ngFor="let review of dataSource" class='review'>
                        <div class="container review-container">
                            <div class="row justify-content-between review_header">
                                <div class="col-3">
                                    <span class="user_name">{{ review.user_name }}</span> <span class="join_date">({{ review.join_date }})</span>    
                                </div>
                                <div class="col-3 text-right">
                                    {{ review.review_date }}&nbsp;
                                    <span *ngIf="review.rating >= 1" class="fa fa-star on"></span>
                                    <span *ngIf="review.rating >= 2" class="fa fa-star on"></span>
                                    <span *ngIf="review.rating >= 3" class="fa fa-star on"></span>
                                    <span *ngIf="review.rating >= 4" class="fa fa-star on"></span>
                                    <span *ngIf="review.rating >= 5" class="fa fa-star on"></span>
                                    <span *ngIf="review.rating < 1" class="fa fa-star off"></span>
                                    <span *ngIf="review.rating < 2" class="fa fa-star off"></span>
                                    <span *ngIf="review.rating < 3" class="fa fa-star off"></span>
                                    <span *ngIf="review.rating < 4" class="fa fa-star off"></span>
                                    <span *ngIf="review.rating < 5" class="fa fa-star off"></span>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-12">
                                    <p>{{ review.review }}</p>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-12">
                                    <i class="fa fa-thumbs-up">&nbsp;{{ review.thumbs_up }}</i>&nbsp;&nbsp;
                                    <i class="fa fa-thumbs-down">&nbsp;{{ review.thumbs_down }}</i>
                                </div>
                            </div>
                            <div class="row justify-content-between review_footer"></div>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add a Review - {{ this.movie.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <table>
                            <tr>
                                <td class="header-poster"><img class="poster" id="movie-poster" src='{{this.movie.poster_path}}'></td>
                                <td class="header-meta">
                                    {{this.movie.title}}
                                    <span>({{this.date_convert(this.movie.release_date)}})</span>
                                    <h6 class="tag-line">{{this.movie.tagline}}</h6>
                                    Your Rating:&nbsp;{{ this.add_rating }} &nbsp; <span class="fa fa-star on"></span>
                                    <span class="fa fa-star on"></span>
                                    <span class="fa fa-star on"></span>
                                    <span class="fa fa-star on"></span>
                                    <span class="fa fa-star on"></span>
                                    
                                </td>
                            </tr>
                        </table>
                <div class="input-group">
                    <br><br>Your Review:
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>