<div class="container">
  <div class="jumbotron">
    <h3 class = "display-4" align="center">Edit Profile</h3>
  </div>
  <div class="jumbotron">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Username</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter A New Username..." aria-label="Username" aria-describedby="basic-addon1">
          <button  class ="btn btn-secondary btn-md btn-block">Update Username</button>
        </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter A New Password..." aria-label="Username" aria-describedby="basic-addon1">
        <button  class ="btn btn-secondary btn-md btn-block">Update Password</button>
      </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Firstname</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter A New Firstname..." aria-label="Username" aria-describedby="basic-addon1">
        <button  class ="btn btn-secondary btn-md btn-block">Update Firstname</button>
      </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Lastname</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter A New Lastname..." aria-label="Username" aria-describedby="basic-addon1">
        <button  class ="btn btn-secondary btn-md btn-block">Update Lastname</button>
      </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter A New Email..." aria-label="Username" aria-describedby="basic-addon1">
        <button  class ="btn btn-secondary btn-md btn-block">Update Email</button>
      </div>

    <br>
    <br>
  </div>
</div>
