<br>
<div class="container">
  <div class="jumbotron" id = "jum">
    <h3 class = "display-4" align="center">Sign Up</h3>
        <div class="center-me">
                <div class="row">
                <input type="text" name="" class="Name" placeholder="Username">
                </div>
                <div class="row">
                    <input type="password" name="tele" class="Tele" placeholder="Password">
                </div>
                <div class="row">
                    <input type="text" name="email" class="Email" placeholder="Email">
                </div>
                <div class="row">
                    <input type="text" name="password" class="Address" placeholder="Firstname">
                    
                </div>
                <div class="row">
                    <input type="text" name="password" class="Address" placeholder="Lastname">
                </div>
                <div class="row">
                <button type="submit" value="Add" name="submit">Submit</button>
                </div>
            </div>
  </div>
</div>
