<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-4">
          <img class="w3-card-4" src="{{this.actor.pic_path}}">
          
      </div>
      <div class="col-8 round-border">
        <h1>{{this.actor.firstName}} {{this.actor.lastName}}</h1>
        <hr class="line-break">
        <h5>{{this.actor.age}}</h5>
        <h5>{{this.actor.birthDate}}</h5>
        <h5>{{this.actor.gender}}</h5>
       
      </div>
    </div>
  </div>
</div>