<div class="jumbotron jumbotron-fluid" [ngStyle]="this.movieService.getBackground('/pbXgLEYh8rlG2Km5IGZPnhcnuSz.jpg')">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-4">
          <img class="poster" src={{this.movie.poster_path}}>
      </div>
      <div class="col-8 round-border">
        <h1>{{this.movie.title}}</h1>>
        <h5 class="release-date">{{this.movie.release_date}}</h5>
        <h5>2 hr 15 min</h5>
        <hr class="line-break">
        <p>{{this.movie.overview}}</p>
      </div>
    </div>
  </div>
</div>
