<nav class="navbar navbar-expand-lg navbar-light">
    <img src="/assets/favicon.png" width="60" height="60"/>
    <a class="navbar-brand" routerLink="/main">Movie Fanatics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div>
        <a routerLink="#" data-toggle="modal" data-target="#creditModal">Credits</a>
        &nbsp;&bull;&nbsp;
        <a routerLink="/login">login</a>
        &nbsp;&bull;&nbsp;
        <a routerLink="/profile-view">Sign up</a>
       &nbsp;
      </div>
    </div>
</nav>
<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-icon"><i class="fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="query" (keyup.enter)="this.enterPressed()" class="form-control" placeholder="Search for a movie or actor" aria-label="Search for a movie or actor" aria-describedby="search-icon">
</div>
<!-- Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Movie Fanatics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>#theFanatics wish to thank and credit the following:</p>
        <ul>
          <li>Genesis Bonds for her love and inspiration.</li>
          <li><a class="credit-link" href="https://www.themoviedb.org/">The Movie DB</a> for providing the base API movie data.</li>
          <li><a class="credit-link" href="http://www.omdbapi.com/">The Open Movie Database</a> for prividing additional API movie data.</li>
        </ul>
        <hr>
        <p>#theFanatics are:</p>
        <ul>
          <li>Ted Airey</li>
          <li>Davidson Bock</li>
          <li>Phil Gerringer</li>
          <li>Andrew Newman</li>
          <li>Gerald Roman-Gonzalez</li>
          <li>Sean Young</li>
        </ul>
        <div>© #theFanatics 2018</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>