<div class = "container">
  <div class="row">
  <div class="jumbotron col-12">
    <div> <span class="glyphicon glyphicon-user" id="jum"></span></div>
    <h3 class="display-4" align = "right">{{title}}</h3>
    <h3 class="display-4" align= "right">{{firstname}} {{lastname}}</h3>
  </div>
</div>
<div class ="row">
  <div class="jumbotron col-4 round-border" id="jum">
    <h4 class = "display-4" id ="header1">Username: </h4>
    <h4 class = "display-4" id = "header1">Password: </h4>
    <h4 class ="display-4" id = "header1">First Name: </h4>
    <h4 class = "display-4" id = "header1">Last Name: </h4>
    <h4 class="display-4" id="header1">Email: </h4>
  </div>
  <div class="col-1"></div>
  <div class="jumbotron col-7 round-border" id="jum">
    <h6 class = "display-4" id = "header2">{{username}}</h6>
    <h4 class = "display-4" id = "header2">{{password}}</h4>
    <h4 class ="display-4" id = "header2">{{firstname}}</h4>
    <h4 class = "display-4" id="header2">{{lastname}}</h4>
    <h4 class="display-4" id ="header2">{{email}}</h4>
  </div>
</div>

<div class = "row">


</div>

<div class="row">
  <div class = "jumbotron col-12 text-center">
    <button routerLinkActive = "active" class ="btn btn-secondary btn-lg btn-block" align = "center"><a routerLink="/edit-profile">Edit Profile</a></button>
  </div>
</div>
    

</div>

