<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-4">
          <img class="poster" src="https://image.tmdb.org/t/p/w500/lHu1wtNaczFPGFDTrjCSzeLPTKN.jpg">
      </div>
      <div class="col-8 round-border">
        <h1>{{this.movie.name}}</h1>>
        <h5 class="release-date">2018</h5>
        <h5>2 hr 15 min</h5>
        <hr class="line-break">
        <p>Singer Freddie Mercury, guitarist Brian May, drummer Roger Taylor and bass guitarist John Deacon take the music world by storm when they form the rock 'n' roll band Queen in 1970. Hit songs become instant classics. When Mercury's increasingly wild lifestyle starts to spiral out of control, Queen soon faces its greatest challenge yet – finding a way to keep the band together amid the success and excess.</p>
      </div>
    </div>
  </div>
</div>
<div class="review-list">
    <table id="example-table">
        <thead>
            <tr>
                <th width="200">Name</th>
                <th tabulator-align="center">Age</th>
                <th>Gender</th>
                <th>Height</th>
                <th width="150">Favourite Color</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Billy Bob</td>
                <td>12</td>
                <td>male</td>
                <td>1</td>
                <td>red</td>
                <td>22/04/1994</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
            <tr>
                <td>Mary May</td>
                <td>1</td>
                <td>female</td>
                <td>2</td>
                <td>blue</td>
                <td>14/05/1982</td>
            </tr>
        </tbody>
    </table>
</div>
